/* variables */
:root {
  --aqua: aqua;
  --black: #000;
  --font-unit-lrg: 2rem;
  --spacing-unit: 1.5rem;
  --spacing-unit-small: 0.75rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* element selectors here */
body {
  background-color: var(--black);
  color: var(--aqua);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* classes */
.bgc-blk {
  background-color: black;
}

.bgc-dkorchid {
  background-color: darkorchid;
}

.bgg-1 {
  background: linear-gradient(180deg, rgba(117, 9, 121, 1) 0%, rgba(141, 96, 203, 1) 35%, rgba(0, 255, 241, 1) 100%);
}

.brdr- {
  border-radius: var(--spacing-unit-small);
}

.out-1 {
  outline: 2px white dashed;
}

.brd-2 {
  border: 1px solid white;
}

.bxs-1-hv:hover {
  box-shadow: hotpink inset 0px 0px 12px;
}

.d-f {
  display: flex;
}

.ff-monospace {
  font-family: monospace;
}

/* flex classes */
.fx-1 {
  flex: 1;
}

.fxd-c {
  flex-direction: column;
}

.fxw-w {
  flex-wrap: wrap;
}

.fz\+ {
  font-size: var(--font-unit-lrg);
}

.g {
  gap: 2rem;
}

.l-50 {
  left: 50%;
}

.p {
  padding: var(--spacing-unit);
}

.p- {
  padding: var(--spacing-unit-small);
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.pv- {
  padding-top: var(--spacing-unit-small);
  padding-bottom: var(--spacing-unit-small);
}

.t-n1p5 {
  top: -1.5rem;
}

.ta-c {
  text-align: center;
}

.trn-1 {
  transition: all 0.5s ease-in-out;
}

.trf-1 {
  transform: translate(-50%, 0);
}

.us-all-a:active {
  user-select: all;
}

/* media queries */
@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .miw-45\@lrg {
    min-width: 45%;
  }
}
